<div class="big-container manage-products-wrapper">

  <h3 class="manage-products-title">Shopping cart</h3>
  <table class="product-manage-table">
    <thead>
      <tr class="table-row">
        <th class="table-head">Picture</th>
        <th class="table-head">Product</th>
        <th class="table-head">Reference</th>
        <th class="table-head">Number</th>
        <th class="table-head">Price</th>
        <th class="table-head">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each sneakers}}
      <tr class="table-row">
        <td class="table-division">
          <div><img src="{{this.image}}" alt="img" class="table-image" /></div>
        </td>
        <td class="table-division">
          <div>{{this.name}}</div>
        </td>
        <td class="table-division">
          <div>{{this.ref}}</div>
        </td>
        <td class="table-division">
          <div>{{this.nb}}</div>
        </td>
        <td class="table-division">
          <div>${{this.price}}</div>
        </td>
        <td class="table-division">
          <span id="remove-from-cart" class="fa fa-trash table-icon" data-id-sneaker="{{this._id}}" aria-hidden="true"></span>
        </td>
      </tr>
      {{/each}}

      {{#unless sneakers}}
      <tr>
        <td colspan="6" style="text-align: center;">Empty cart ? really ? T.T</td>
      </tr>
      {{/unless}}
    </tbody>
  </table>
</div>